.nav {
  color: black;
  display: inline;
  font-size: 20px;
  margin: 40px;
  float: right;
  text-decoration:none;
  font-weight: bolder;
  cursor: pointer;
  justify-content: space-evenly;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
h1 {
  font-size: 25px;
  font-weight: bold;
  text-decoration:underline ;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  font-weight: normal;
}
.image {
  background-image:url(Images/concept.jpg);
  background-size: cover;
  height: 100vh;
}
/* .header {
  font-style: normal;
  font-size: 20px;
  text-align: left;
  margin-bottom: 200px;
  padding-top: 400px;
} */

.services span {
  color: #30a5e4;
}

.middle {
  background-color: rgb(225, 225, 235);
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 10px;
}

.box {
  border: 0px solid black;
  background-color: #30a5e4;
  width: 450px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
  font-style: oblique;
  box-shadow: 3px 3px 9px 0px rgba(131,115,115,0.75);

  transition: all .2s;
}
.box-img {
  height: 250px;
  width: 450px;
}

.box p{
    text-align: center;
    padding: 5px 10px;
}

.box:hover {
  transform: scale(1.03);
}

a {
  text-decoration: none;
  color: white;
}
.copy {
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}
.footer {
  font-style: normal;
  font-size: 20px;
  text-align: right;
}